name: Consolidate Tests

on:
  pull_request:
    paths:
      - 'consolidate/**'
      - '.github/workflows/consolidate-tests.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'
      
      - name: Run tests
        working-directory: ./consolidate
        run: go test -v ./...
